{% set lines = [] -%}
{% for d in truenas_disk_map -%}
{%   set _ = lines.append('      - { source_labels: [serial], regex: "' ~ d.serial_regex ~ '", target_label: bay, replacement: "' ~ d.bay ~ '" }  # slot ' ~ d.slot ~ ' ' ~ d.device ~ ' ' ~ (d.model | default('')) ) -%}
{%   set _ = lines.append('      - { source_labels: [serial], regex: "' ~ d.serial_regex ~ '", target_label: pool, replacement: "' ~ (d.pool | default('unknown')) ~ '" }') -%}
{%   set _ = lines.append('      - { source_labels: [serial], regex: "' ~ d.serial_regex ~ '", target_label: vdev, replacement: "' ~ (d.vdev | default('unknown')) ~ '" }') -%}
{% endfor -%}
{{ lines | join('\n') }}
